<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet">
    <!-- CSS -->
    <style>
    body{
      font-family: Karmic, 'Amiri', sans-serif;
      margin: 45px 0 45px 0;
      font-size: 17px;
      <!-- Helvetica instead of Karmic for pdf  -->
    }
    h1{
      font-size: 35px;
      text-align: center;
      font-weight: bold;
      margin-bottom: 0;
    }
    h2{
      font-size: 30px;
      font-weight: bold;
      margin: 0 0 0 0;
    }
    h3{
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 0;
    }
    ul{
      padding-left: 20px;
      margin-bottom: 0;
    }
    li::marker{
      font-size: 8px;
    }
    .container{
      padding: 0 15px 0 15px;
    }
    .contact_info{
      text-align: center;
      font-weight: bold;
      border-bottom: 2px solid black;
      padding-bottom: 5px;
      margin-bottom: 5px;
    }
    .work-dates{
      text-align: right;
    }
    @media screen and (max-width: 767px) {
      .work-dates{
        text-align: left;
        .large-date{
          font-size: 17px;
        }
      }
    }
    .entry{
      margin: 10px 5px 5px 5px;
    }
    .heading{
      font-weight: bold;
    }
    .offset{
      margin-left: 8px;
    }
    .large-heading{
      font-size: 20px;
      font-weight: bold;
    }
    .large-date{
      font-size: 20px;
    }
    .website{
      color: black;
    }
    .x-padding-5{
      padding: 0 5px 0 5px;
    }
    .next_page{
      padding: 50px 0 0 0;
    }
    .bootcamps-right{
      padding-right: 0;
    }
    </style>
    <title>Carey,Connor-Resume</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>
            Connor Carey
          </h1>
        </div>
      </div>
      <div class="row justify-content-md-center contact_info">
        <div class="col-md-3 x-padding-5">
          connorblazecarey@gmail.com
        </div>
        <div class="col-md-2 x-padding-5">
          1-970-217-6592
        </div>
        <div class="col-md-3 x-padding-5">
          <a class="website" href="https://github.com/Connor13C">https://github.com/Connor13C</a>
        </div>
        <div class="col-md-4 x-padding-5">
          <a class="website" href="https://www.linkedin.com/in/connorbcarey/">https://www.linkedin.com/in/connorbcarey/</a>
        </div>
      </div>
      <div class="row">
	    <div class="col-md x-padding-5">
          <h2>Technical Skills:</h2>
          <div class="row entry">
            <div class="col">
              <div><span class="heading">Back End</span> - Python, Java, C#, C++, PostgreSQL, MySQL, MariaDB, MSSQL, Redis, SQLAlchemy, Celery, Pandas, JWT, OAuth</div>
              <div><span class="heading">Front End</span> - HTML, CSS, JavaScript, jQuery, ReactJS, Bootstrap, Jinja, ChartJS, FontAwesome</div>
              <div><span class="heading">Deployment</span> -  Docker, Kubernetes, AWS, Nginx, Apache, Flask, Gunicorn, Artifactory, Jenkins, Rancher</div>
              <div><span class="heading">Developer Tools</span> - GitHub, GitLab, Jira, Slack, Zenhub, Codepen, Confluence, IDEs</div>
              <div><span class="heading">Testing</span> - Pytest, Postman, SonarQube, Black Duck, Fortify, JUnit, NUnit</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md x-padding-5">
          <h2>Education:</h2>
          <div class="row entry">
            <div class="col">
              <div class="large-heading">College:</div>
              <div class="heading offset">Bachelor of Science in Computer Science</div>
              <div class="offset heading">Colorado State University | Fort Collins, CO</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col x-padding-5">
	      <h2>Work History:</h2>
          <div class="row entry">
            <div class="col-md-6">
              <div class="large-heading">Lead Full Stack/DevOps Developer</div>
              <div class="heading">Information Safeguard Inc | Remote</div>
            </div>
            <div class="col-md-6 work-dates">
              <div class="large-date">2024 - 2025</div>
            </div>
            <div class="col">
              <ul>
                <li>Was the team lead working remotely as DevOps and Full Stack roles contracted to a team at a large company, US Bank, in the Cyber Risk Oversight division</li>
                <li>Revamped the entire CI/CD process, such as rewriting the Kubernetes cluster, Docker containers, and Jenkins deployments while automating HTTPS certificate renewal and using scanners and linters like SonarQube, BlackDuck, and Fortify to detect vulnerabilities and poor code, which turned around a project that had been stagnating for years, streamlined the project, and got it back on track</li>
                <li>Built API integrations and SSO capabilities with authentication services like HC Vault and Microsoft Azure and also integrated with other internal US Bank applications and AWS, allowing for data sharing and analytics</li>
                <li>Automated daily pulling of large amounts of SQL databases from other US Bank applications using Pandas and verified that the other applications were following database encryption standards for personal data and quality assurance testing</li>
                <li>Was in charge of deployments from development to production environments, and was the person on call to fix any problems that occurred</li>
                <li>Tech stack included Kubernetes, Docker, Rancher, Jenkins, Linux, Python, Flask, PostgreSQL, Pandas, JavaScript, CSS, and HTML</li>
              </ul>
            </div>
          </div>
          <div class="row entry">
            <div class="col-md-6">
              <div class="large-heading">Full Stack Developer</div>
              <div class="heading">Dixon Technologies LLC | Remote</div>
            </div>
            <div class="col-md-6 work-dates">
              <div class="large-date">2022 - 2023</div>
            </div>
            <div class="col">
              <ul>
                <li>Full Stack Developer working remotely at a tiny, fast-paced startup company in the automotive dealership industry</li>
                <li>Rewrote the company's singular file codebase of 140,000 lines of code into a modular, scalable, and object-oriented programming designed filesystem</li>
                <li>Fixed their scheduling system for customer appointments and employee time off and added a calendar display for quick reference</li>
                <li>Created API integrations with the Dealer Management Service MOTOR to automate sale transactions by pulling recommended services and part prices for vehicles being serviced, which promoted extra sales</li>
                <li>Implemented good coding practices such as documentation, test suites, code refactoring, and abstraction to significantly reduce technical debt at the startup</li>
                <li>Tech stack included Linux, Apache, Python, Flask, MySQL, JavaScript, CSS, and HTML</li>
              </ul>
            </div>
          </div>
          <div class="row entry">
            <div class="col-md-6">
              <div class="large-heading">Junior Full Stack/DevOps Developer</div>
              <div class="heading">Reconstruction Experts Inc | Denver, CO</div>
            </div>
            <div class="col-md-6 work-dates">
              <div class="large-date">2019 - 2021</div>
            </div>
            <div class="col">
              <ul>
                <li>Was the only software engineer at a mid-sized construction company, so was solely responsible for planning, designing, and building all custom software and projects</li>
                <li>Built a fully containerized Docker system on a Linux VM behind local DNS, with an Nginx server to host applications and websites accessible via local network or internet with RBAC permissions pulled from an OAuth2 connection to Microsoft Azure</li>
                <li>Rewrote buggy software with a 10-minute runtime from a former employee into a bug-free program that ran in microseconds</li>
                <li>Made REST API websites using Python/Flask with Gunicorn production workers, Celery to handle asynchronous time-consuming tasks, PostgreSQL and Redis databases with SqlAlchemy as an ORM handler, with webpages using JavaScript, CSS, and HTML</li>
                <li>Made SQL databases and tables to store data for applications to use for tracking and displaying charts for data over time, such as metrics for construction projects like quality, safety, or cost</li>
                <li>Automated storing, optimizing, and backing up internal filesystems and databases to AWS, which protected against ransomware attacks, saved work hours, and reduced costs every month</li>
                <li>Tech stack included Linux, Nginx, Python, Flask, PostgreSQL, Docker, SQLAlchemy, Celery, Redis, JavaScript, CSS, and HTML</li>
              </ul>
            </div>
          </div>
	    </div>
      </div>
      <div class="row next_page">
        <div class="col x-padding-5">
	      <h2>Supplemental Courses:</h2>
          <div class="row entry">
            <div class="col">
              <div class="large-heading">Coding Bootcamps:</div>
              <div class="heading offset">Udemy</div>
              <div class="row">
                <div class="col offset bootcamps-left">
                  <ul>
                    <li>Modern Python 3 Bootcamp</li>
                    <li>REST APIs with Flask and Python</li>
                    <li>Advanced REST APIs with Flask and Python</li>
                    <li>Python and Django Full Stack Web Developer Bootcamp</li>
                    <li>Ultimate Pandas Bootcamp: Advanced Python Data Analysis</li>
                    <li>Python Database Mastery: SQLAlchemy and Alembic</li>
                    <li>Jenkins, From Zero to Hero: Become a DevOps Jenkins Master</li>
                    <li>Modern JavaScript Bootcamp Course</li>
                    <li>Ultimate MySQL Bootcamp</li>
                    <li>Docker and Kubernetes: The Complete Guide</li>
                  </ul>
                </div>
                <div class="col bootcamps-right">
                  <ul>
                    <li>Complete C# Masterclass</li>
                    <li>Design Patterns in C# and .NET</li>
                    <li>Ultimate AWS Certified Developer Associate</li>
                    <li>HashiCorp Certified: Vault Associate</li>
                    <li>Microsoft PowerApps</li>
                    <li>Drupal Tutorial: Drupal 8</li>
                    <li>Python REST APIs: Flask, Docker, MongoDB, and AWS DevOps</li>
                    <li>Become a WordPress Developer</li>
                    <li>Windows Presentation Foundation Masterclass</li>
                    <li>Master .NET and C# Unit Testing with NUnit and Moq</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h3 class="next_page">Professional references available upon serious inquiry</h3>
    </div>
  </body>
</html>
	
