services:
  proxy:
    restart: unless-stopped
    image: nginx:1.29
    container_name: proxy
    volumes:
      - ./proxy/default.conf:/etc/nginx/conf.d/default.conf
      - ./proxy/nginx:/var/log/nginx
    stop_grace_period: 3m
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - app1
      - app2
      - app3
      - celery-flower1
      - celery-flower2
  app1:
    restart: unless-stopped
    build: ./app1
    container_name: app1
    env_file:
      - ./app1/.env
    volumes:
      - ./app1:/app
    depends_on:
      db1:
        condition: service_healthy
    stop_grace_period: 3m
    command: python manage.py runserver_plus 0.0.0.0:5000
    post_start:
      - command: python manage.py makemigrations
      - command: python manage.py migrate
      - command: python manage.py collectstatic --noinput
      - command: python manage.py test
  db1:
    restart: unless-stopped
    image: postgres:18
    container_name: db1
    env_file:
      - ./app1/.env
    volumes:
      - db1-data:/var/lib/postgresql/data
    stop_grace_period: 3m
    healthcheck:
      test: pg_isready -h localhost -U $$POSTGRES_USER || exit 1
      interval: 20s
      timeout: 5s
      retries: 3
      start_period: 5s
  redis1:
    restart: unless-stopped
    image: redis:7
    container_name: redis1
    volumes:
      - redis1-data:/data
    stop_grace_period: 3m
  celery-worker1:
    restart: unless-stopped
    build: ./app1
    container_name: celery-worker1
    env_file:
      - ./app1/.env
    volumes:
      - ./app1:/app
    depends_on:
      - app1
      - redis1
    stop_grace_period: 3m
    command: celery --app app1 worker --loglevel=info
  celery-beat1:
    restart: unless-stopped
    build: ./app1
    container_name: celery-beat1
    env_file:
      - ./app1/.env
    volumes:
      - ./app1:/app
    depends_on:
      - celery-worker1
    stop_grace_period: 3m
    command: celery --app app1 beat --loglevel=info
  celery-flower1:
    restart: unless-stopped
    build: ./app1
    container_name: celery-flower1
    env_file:
      - ./app1/.env
    volumes:
      - ./app1:/app
    depends_on:
      - celery-worker1
      - celery-beat1
    stop_grace_period: 3m
    command: celery --app app1 flower
  app2:
    restart: unless-stopped
    build: ./app2
    container_name: app2
    env_file:
      - ./app2/.env
    volumes:
      - ./app2:/app
    depends_on:
      db2:
        condition: service_healthy
    stop_grace_period: 3m
    command: python app.py
  db2:
    restart: unless-stopped
    image: postgres:18
    container_name: db2
    env_file:
      - ./app2/.env
    volumes:
      - db2-data:/var/lib/postgresql/data
    stop_grace_period: 3m
    healthcheck:
      test: pg_isready -h localhost -U $$POSTGRES_USER || exit 1
      interval: 20s
      timeout: 5s
      retries: 3
      start_period: 5s
  redis2:
    restart: unless-stopped
    image: redis:7
    container_name: redis2
    volumes:
      - redis2-data:/data
    stop_grace_period: 3m
  celery-worker2:
    restart: unless-stopped
    build: ./app2
    container_name: celery-worker2
    env_file:
      - ./app2/.env
    volumes:
      - ./app2:/app
    depends_on:
      - app2
      - redis2
    stop_grace_period: 3m
    command: celery --app tasks worker --loglevel=info
  celery-beat2:
    restart: unless-stopped
    build: ./app2
    container_name: celery-beat2
    env_file:
      - ./app2/.env
    volumes:
      - ./app2:/app
    depends_on:
      - celery-worker2
    stop_grace_period: 3m
    command: celery --app tasks beat --loglevel=info
  celery-flower2:
    restart: unless-stopped
    build: ./app2
    container_name: celery-flower2
    env_file:
      - ./app2/.env
    volumes:
      - ./app2:/app
    depends_on:
      - celery-worker2
      - celery-beat2
    stop_grace_period: 3m
    command: celery --app tasks flower
  app3:
    restart: unless-stopped
    build: ./app3
    container_name: app3
    env_file:
      - ./app3/.env
    volumes:
      - ./app3:/app
    stop_grace_period: 3m
    command: fastapi dev app.py --host 0.0.0.0 --port 5000
volumes:
  db1-data:
  redis1-data:
  db2-data:
  redis2-data:
