<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <title>Feature Builder</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}">
</head>
<body>
<h1>Feature Requester</h1>
  <ul id="choice">
    <li id="nav_post_r">Make a new feature request for client</li>
    <li id="nav_get_r">Find existing feature requests for client</li>
    <li id="nav_get_r_id">Get feature request by ID</li>
    <li id="nav_del_r_id">Delete existing feature request by ID</li>
    <li id="nav_post_c">Add a client</li>
    <li id="nav_del_c">Delete an existing client</li>
  </ul>

  <div id="content">
    <div id="padding">
    <form id="login_field">
      <div class="input-group">
        <label for="username">Username</label><input id="username" type="text" class="form-control" name="username" placeholder="Username">
      </div>
      <div class="input-group">
        <label for="password">Password</label><input id="password" type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <button id="login">Log in</button><br>
      <button id="register">Register</button><br>
    </form>

    <form id="post_request">
      <label for="priority">Priority:</label><br>
      <input type="text" id="priority" placeholder="Integer value: 1-n"><br>
      <label for="target_date">Target Date:</label><br>
      <input type="text" id="target_date" placeholder="MM/DD/YYYY"><br>
      <label for="product_area">Product Area:</label><br>
      <select class="form-control" id="product_area">
          <option>Policies</option>
          <option>Billing</option>
          <option>Claims</option>
          <option>Reports</option>
      </select><br>
      <label for="client_list">Client List:</label><br>
      <select class="form-control" id="client_list">
            </select><br>
      <label for="title">Title:</label><br>
      <input type="text" id="title" placeholder="Short title for feature request"><br>
      <label for="description">Description:</label><br>
        <textarea id="description"></textarea><br>
      <button id="submit_request">Submit Request</button>
    </form>

    <form id="get_request">
      <div class="form-group">
        <label for="clients">Client list:</label>
        <select class="form-control" id="clients">
            </select>
      </div>
      <button id="find_client_requests">Find Client Requests</button>
    </form>

    <form id="get_request_id">
      <label for="req_id">Enter request ID:</label>
      <input type="text" id="req_id"><br>
      <button id="find_request_id">Find Request</button>
    </form>

    <form id="del_request_id">
      <label for="del_req_id">Enter request ID:</label>
      <input type="text" id="del_req_id"><br>
      <button id="delete_request_id">Delete Request</button>
    </form>

    <form id="post_client">
      <label for="client_name">Enter client name:</label>
      <input type="text" id="client_name"><br>
      <button id="add_client_name">Add Client</button>
    </form>

    <form id="del_client">
      <label for="del_client_name">Enter client name:</label>
      <input type="text" id="del_client_name"><br>
      <button id="delete_client_name">Delete Client</button>
    </form>

    <form id="results"></form>
    </div>
  </div>
  <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
  <script type=text/javascript src="{{url_for('static', filename='popper.min.js') }}"></script>
  <script type=text/javascript src="{{url_for('static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='landing.js') }}"></script>
</body>

</html>