<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=yes" name="viewport">
    <title>Flask Single Page App - Feature Requester</title>
    <link href="{{ url_for('static', filename='vendor/bootstrap/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
</head>
<body>
<h1>Flask Single Page App - Feature Requester</h1>
<ul id="choice">
    <li id="nav_post_c">Add a client</li>
    <li id="nav_del_c">Delete an existing client</li>
    <li id="nav_post_r">Make a new feature request for client</li>
    <li id="nav_get_r">Find existing feature requests for client</li>
    <li id="nav_get_r_id">Get feature request by ID</li>
    <li id="nav_del_r_id">Delete existing feature request by ID</li>
</ul>

<div id="content">
    <div id="padding">
        <form id="login_field">
            Registration and Login are trivialized for demo purposes and do not require email verification. Endpoints
            are JWT protected. You may make a user freely to play around with the small demo.
            <br>
            ***Warning: Too many failed log in attempts will result in IP ban from website since the main server has
            production grade access banning, so keep failed login attempts to reasonable amount.***
            <div class="input-group">
                <label for="username">Username</label>
                <input class="form-control" id="username" name="username" placeholder="Username" type="text">
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input class="form-control" id="password" name="password" placeholder="Password" type="password">
            </div>
            <button id="login">Log in</button>
            <br>
            <button id="register">Register</button>
            <br>
        </form>

        <form id="post_client">
            <label for="client_name">Enter client name:</label>
            <input id="client_name" type="text"><br>
            <button id="add_client_name">Add Client</button>
        </form>

        <form id="del_client">
            <label for="del_client_name">Enter client name:</label>
            <input id="del_client_name" type="text"><br>
            <button id="delete_client_name">Delete Client</button>
        </form>

        <form id="post_request">
            <label for="priority">Priority:</label><br>
            <input id="priority" placeholder="Integer value: 1-n" type="text"><br>
            <label for="target_date">Target Date:</label><br>
            <input id="target_date" placeholder="MM/DD/YYYY" type="text"><br>
            <label for="product_area">Product Area:</label><br>
            <select class="form-control" id="product_area">
                <option>Policies</option>
                <option>Billing</option>
                <option>Claims</option>
                <option>Reports</option>
            </select><br>
            <label for="client_list">Client List:</label><br>
            <select class="form-control" id="client_list">
            </select><br>
            <label for="title">Title:</label><br>
            <input id="title" placeholder="Short title for feature request" type="text"><br>
            <label for="description">Description:</label><br>
            <textarea id="description"></textarea><br>
            <button id="submit_request">Submit Request</button>
        </form>

        <form id="get_request">
            <div class="form-group">
                <label for="clients">Client list:</label>
                <select class="form-control" id="clients">
                </select>
            </div>
            <button id="find_client_requests">Find Client Requests</button>
        </form>

        <form id="get_request_id">
            <label for="req_id">Enter request ID:</label>
            <input id="req_id" type="text"><br>
            <button id="find_request_id">Find Request</button>
        </form>

        <form id="del_request_id">
            <label for="del_req_id">Enter request ID:</label>
            <input id="del_req_id" type="text"><br>
            <button id="delete_request_id">Delete Request</button>
        </form>

        <form id="results"></form>
    </div>
</div>
<script src="{{url_for('static', filename='vendor/jquery/jquery.min.js') }}" type=text/javascript></script>
<script src="{{url_for('static', filename='vendor/popper/popper.min.js') }}" type=text/javascript></script>
<script src="{{url_for('static', filename='vendor/bootstrap/bootstrap.min.js') }}" type=text/javascript></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>

</html>